<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <div style='float: right;'>
      <%= link_to 'Home', todo_lists_path %> |
      You are logged in as:
      <%= link_to current_user.login, user_account_path(current_user.id, current_user.account) %><% current_user.login %>   |
      <%= link_to "Logout", logout_path, method: :delete%>
    </div>
  <% end %>

  <% flash.each do |key, value|%>
    <%= content_tag :p, value, id: key%>
  <%end%>
    <%= yield %>
  </body>
</html>
